@model IEnumerable<TablePosition>
@{
    ViewData["Title"] = "Должности";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/ButtonTable.css" />
</head>
 
<div id="demotext">
    <div>
        <div>
            <p style="font-size: 44pt;">Резерв должностей</p>
            @foreach (TablePosition item in Model)
            {
                <p style="font-size: 44pt;">@item.Organizations.NameOfOrganization</p>
                break;
            }
        </div>
        <div class="ccd">
            <a class="ddott" asp-action="Create">Добавить должность</a>
        </div>
    </div>
</div>
    <body class="bodyWww">
        <p>Добавленные должности в организации</p>
        <table class="blueTable">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>Описания должности</th>
                    <th>Количество мест на должность</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (TablePosition position in Model)
                {
                    <tr>
                        <td>@position.Position.JobTitle</td>
                        <td>@position.JobResponsibilities</td>
                        <td>@position.CountPosition</td>
                        @*<td>@position.DateOfJobRegistration.ToString().Remove(10)</td>*@
                        <td> <a class="buttonTable" asp-action="ShowTheEmployeeInThePosition" asp-controller="Position" asp-route-id="@position.TablePositionId" style="text-decoration: none;">Кем занята должность</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </body>
