@using WebApplicationDiplom.Enumeration
@model WebApplicationDiplom.ViewModels.EducationalViewModel
@{
    ViewBag.Title = "Регистрация образования работника";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleWindow.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Input.css" />
</head>
<body class="bodyWww">
    <form method="post" asp-controller="Educational" asp-action="Create" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Добавление образования</h2>
        <div class="box">
            <label class="form_label">Фамилия работника*</label><br />
            <select asp-for="EmployeeRegistrationLogId">
                @foreach (var item in Model.workers)
                {
                    <option value="@item.EmployeeRegistrationId">@item.Worker.Surname @item.Worker.Name @item.Worker.DoubleName</option>
                }
            </select>
            <span asp-validation-for="EmployeeRegistrationLogId"></span>
        </div>
        <br />
        <div class="box">
            <label asp-for="EducationType" class="form_label">Образования*</label><br />
            <select asp-for="EducationType" asp-items="Html.GetEnumSelectList<TypeOfEducation>()"></select>
            <span asp-validation-for="EducationType"></span>
        </div>
        <br />
        <div class="box">
            <label class="form_label" asp-for="QualificationEducation">Вид образования*</label><br />
            <select asp-for="QualificationEducation" asp-items="Html.GetEnumSelectList<QualificationEducation>()"></select>
            <span asp-validation-for="QualificationEducation"></span>
        </div>
        <br />
        <div class="box">
            <label class="form_label">Учреждения образования*</label><br />
            <a asp-controller="Educational" asp-action="CreateEducationalInstitutions"  style="text-decoration: none; ">Добавить учреждения образования в справочник</a><br />
            <select asp-for="EducationalInstitutionsId">
                @foreach (var item in Model.educationals)
                {
                    <option  value="@item.EducationalInstitutionsId">@item.NameEducationalInstitutions</option>
                }
            </select>
            <span asp-validation-for="EducationalInstitutionsId"></span>
        </div>
        <br />
        <div class="box">
            <label class="form_label">Специальность*</label><br />
            <a asp-controller="Educational" asp-action="CreateSpecialty"  style="text-decoration: none; ">Добавить специальность в справочник</a><br />
            <select asp-for="tableSpecialtySpecialtyId">
                @foreach (var item in Model.tableSpecialties)
                {
                    <option value="@item.SpecialtyId">@item.Specialty</option>
                }
            </select>
            <span asp-validation-for="tableSpecialtySpecialtyId"></span>
        </div>
        <br>
        <div class="box">
            <label class="form_label">Квалификация*</label><br />
            <a  asp-controller="Educational" asp-action="CreateQualification"  style="text-decoration: none; ">Добавить квалификацию в справочник</a><br />
            <select asp-for="QualificationId">
                @foreach (var item in Model.qualifications)
                {
                    <option value="@item.QualificationId">@item.Qualification</option>
                }
            </select>
            <span asp-validation-for="QualificationId"></span>
        </div>
        <br />
        <div class="form_grup">
            <label asp-for="StartDate" class="form_label">Дата поступления*</label><br />
            <input asp-for="StartDate" class="input"/>
            <span asp-validation-for="StartDate"></span>
        </div>
        <div class="form_grup">
            <label asp-for="EndDate" class="form_label">Дата окончания*</label><br />
            <input asp-for="EndDate" class="input" />
            <span asp-validation-for="EndDate"></span>
        </div>
        <div>
            <input type="submit" value="Добавить" class="button" />
            <a class="button" asp-controller="Educational" asp-action="Index" style=" text-decoration: none;">Назад</a><br />
        </div>
    </form>
</body>