@model IEnumerable<TableEducational>
@{
    ViewData["Title"] = "Образования";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleTable.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
</head>
 
<div id="demotext">
    <p style="font-size: 44pt;">Образования работников</p>
    <div class="ccd">
        <a class="ddott" asp-action="Create">Добавить</a>
    </div>
</div>
    <body>
        <table class="blueTable">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Тип образования</th>
                    <th>Образования</th>
                    <th>Учреждения образования</th>
                    <th>Специальность</th>
                    <th>Квалификация</th>
                    <th>Поступление</th>
                    <th>Окончание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TableEducational educational in Model)
                {
                    <tr>
                        <td>@educational.Worker.Worker.Surname @educational.Worker.Worker.Name @educational.Worker.Worker.DoubleName</td>
                        <td>@educational.EducationType.Replace("_", " ")</td>
                        <td>@educational.QualificationEducation.Replace("_", " ")</td>
                        <td>@educational.EducationalInstitutions.NameEducationalInstitutions</td>
                        <td>@educational.tableSpecialty.Specialty</td>
                        <td>@educational.Qualification.Qualification</td>
                        <td>@educational.StartDate.ToString().Remove(10)</td>
                        <td>@educational.EndDate.ToString().Remove(10)</td>
                        <td> <a asp-action="Delete" asp-controller="Educational" as p-route-id="@educational.EducationalId" style="text-decoration: none;  ">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
