@model IEnumerable<TableEducational>
@{
    ViewData["Title"] = "Образования";
}
<a asp-action="Create">Добавить образования</a>
 
<table class="table">
    <tr>
        <th>ФИО</th>
        <th>Тип образования</th>
        <th>Образования</th>
        <th>Учреждения образования</th>
        <th>Специальность</th>
        <th>Квалификация</th>
        <th>Поступление</th>
        <th>Окончание</th>
</tr>
    @foreach (TableEducational educational in Model)
    {
<tr>
    <td>@educational.Worker.Worker.Surname @educational.Worker.Worker.Name @educational.Worker.Worker.DoubleName</td>
    <td>@educational.EducationType.Replace("_"," ")</td>
    <td>@educational.QualificationEducation.Replace("_", " ")</td>
    <td>@educational.EducationalInstitutions.NameEducationalInstitutions</td>
    <td>@educational.tableSpecialty.Specialty</td>
    <td>@educational.Qualification.Qualification</td>
    <td>@educational.StartDate.ToString().Remove(10)</td>
    <td>@educational.EndDate.ToString().Remove(10)</td>
    <td> <a asp-action="Delete" asp-controller="Educational" as p-route-id="@educational.EducationalId">Удалить</a></td>
</tr>
    }
</table>

 