@model IEnumerable<TableEducational>
@{
    ViewData["Title"] = "Образования";
}
<a asp-action="Create">Добавить образования</a>
 |
<table class="table">
    <tr>
        <td>ФИО</td>
        <td>Тип образования</td>
        <td>Образования</td>
        <td>Учреждения образования</td>
        <td>Должность</td>
        <td>Квалификация</td>
        <td>Поступление</td>
        <td>Окончание</td>
    </tr>
    @foreach (TableEducational educational in Model)
    {
<tr>
    <td>@educational.Worker.Worker.Surname @educational.Worker.Worker.Name @educational.Worker.Worker.DoubleName</td>
    <td>@educational.EducationType.Replace("_"," ")</td>
    <td>@educational.QualificationEducation.Replace("_", " ")</td>
    <td>@educational.EducationalInstitutions.NameEducationalInstitutions</td>
    <td>@educational.position.JobTitle</td>
    <td>@educational.Qualification.Qualification</td>
    <td>@educational.StartDate.ToString().Remove(10)</td>
    <td>@educational.EndDate.ToString().Remove(10)</td>
    <td> <a asp-action="Edit" asp-controller="Worker" asp-route-id="@educational.EducationalId">Изменить</a></td>
</tr>
    }
</table>

 