@model WebApplicationDiplom.ViewModels.ReserveOfPersonnelViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Добавления в резерв</h2>
<form method="post" asp-controller="ReserveOfPersonnel" asp-action="Create" style="width: 50%; text-align: left;">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label>Информация о работники</label><br />
        <select asp-for="EmployeeRegistrationLogId">
            @foreach (var item in Model.employeeRegistrationLog)
            {
                <option value="@item.EmployeeRegistrationId">@item.Worker.Surname @item.Worker.Name @item.Worker.DoubleName, @item.Worker.positon.JobTitle</option>
            }
        </select>
    </div>
    <br />
    <div>
        <label>Должность</label><br />
        <select asp-for="TablePositionId">
            @foreach (var item in Model.positions)
            {
                <option value="@item.TablePositionId">@item.Position.JobTitle</option>
            }
        </select>
    </div>
    <br /><br /><br />
    <div>
        <input type="submit" value="Добавить" style="width: 50%; margin: 0 auto; text-align: start, " text-align: center;" />
    </div>
</form>