@model WebApplicationDiplom.ViewModels.ReserveOfPersonnelViewModel
@{
    ViewBag.Title = "Добавления в резерв";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/RegisterStyleEducationalWorkers.css" />
    <link rel="stylesheet" href="~/css/StyleBox.css" />
    <link rel="stylesheet" href="~/css/BodyStyle.css" />
    <link rel="stylesheet" href="~/css/StyleButton.css" />
    <link rel="stylesheet" href="~/css/StyleInput.css" />
</head>
<body class="body">
    <form method="post" asp-controller="ReserveOfPersonnel" asp-action="Create" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Добавление в резерв</h2>
        <div class="boxDrop">
            <label class="form_label">Информация о работники</label><br />
            <select asp-for="EmployeeRegistrationLogId">
                 @foreach (var item in Model.HistoryOfAppointments)
                  {
                    <option value="@item.EmployeeRegistrationLog.EmployeeRegistrationId">
                        @item.EmployeeRegistrationLog.Worker.Surname
                        @item.EmployeeRegistrationLog.Worker.Name
                        @item.EmployeeRegistrationLog.Worker.DoubleName,
                    </option>
                  }
            </select>
        </div>
        <div class="boxDrop">
            <label  class="form_label">Должность</label><br />
            <select asp-for="TablePositionId">
                @foreach (var item in Model.positions)
                {
                    <option value="@item.TablePositionId">@item.Position.JobTitle</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="Добавить" class="button"/>
            <a class="button" asp-controller="ReserveOfPersonnel" asp-action="Index" style=" text-decoration: none;">Назад</a>
        </div>
    </form>
</body>