@model IEnumerable<EmployeeRegistrationLog>
@{
    ViewData["Title"] = "Работники";
}
<a asp-action="Create">Добавить пользователя</a>
 
<table class="table">
    <tr>
        <th>Должность</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчёство</th>
        <th>Дата рождения</th>
        <th>Дата регистрации работника</th>
    </tr>
    @foreach (EmployeeRegistrationLog worker in Model)
    {
<tr>
    <td>@worker.Worker.positon.JobTitle</td>
    <td>@worker.Worker.Surname</td>
    <td>@worker.Worker.Name</td>
    <td>@worker.Worker.DoubleName</td>
    <td>@worker.Worker.DateOfBirth.ToString().Remove(10)</td>
    <td>@worker.EmployeeRegistrationDate.ToString().Remove(10)</td>
    <td> <a asp-action="Edit" asp-controller="Worker" asp-route-id="@worker.WorkerId">Изменить</a></td>
    <td> <a asp-action="Delete" asp-controller="Worker" asp-route-id="@worker.WorkerId">Удалить запись</a></td>
</tr>
        
     
    }
</table>