@model IEnumerable<EmployeeRegistrationLog>
@{
    ViewData["Title"] = "Работники";
}
<a asp-action="Create">Добавить пользователя</a>
 |
<table class="table">
    <tr>
        <td>Должность</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчёство</td>
        <td>Дата рождения</td>
        <td>Дата регистрации работника</td>
    </tr>
    @foreach (EmployeeRegistrationLog worker in Model)
    {
<tr>
    <td>@worker.Worker.positon.JobTitle</td>
    <td>@worker.Worker.Name</td>
    <td>@worker.Worker.Surname</td>
    <td>@worker.Worker.DoubleName</td>
    <td >@worker.Worker.DateOfBirth.ToString().Remove(10)</td>
    <td>@worker.EmployeeRegistrationDate.ToString().Remove(10)</td>
    <td> <a asp-action="Edit" asp-controller="Worker" asp-route-id="@worker.WorkerId">Изменить</a></td>
</tr>
        
     
    }
</table>