@using WebApplicationDiplom.Models
@model IEnumerable<Worker>
@{
    ViewData["Title"] = "Работники";
}
<a asp-action="Create">Добавить пользователя</a>
 |
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчёство</td>
        <td>Дата рождения</td>
    </tr>
    @foreach (Worker worker in Model)
    {
<tr>
    <td>@worker.Name</td>
    <td>@worker.Surname</td>
    <td>@worker.DoubleName</td>
    <td style="Text">@worker.DateOfBirth</td>
    <td>@worker.WorkerId</td>
    <td> <a asp-action="Edit" asp-controller="Worker" asp-route-id="@worker.WorkerId">Изменить</a></td>
</tr>
    }
</table>