@model WebApplicationDiplom.ViewModels.AdminWindowsViewModel
@{
    ViewData["Title"] = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/StyleInput.css" />
    <link rel="stylesheet" href="~/css/ButtonTable.css" />
</head>
<body class="bodyWww">
    @if (User.Identity.IsAuthenticated)
    {
    <form method="post" asp-controller="Account" asp-action="Logout">
        <div asp-validation-summary="ModelOnly"></div>
        @if (User.IsInRole("admin"))
        {
    <div>
        <div id="demotext">
            <p style="font-size: 44pt;">Администратор</p>
            <div class="ccd">
                <a asp-controller="Account" asp-action="Register" class="ddott">Регистрация</a>
            </div>
            <div class="ccd">
                <a asp-controller="Account" asp-action="Login" class="ddott">Выход</a>
            </div>
        </div>
        <br />
        <div>
            <p>Организации</p>
            <table class="blueTable">
                <thead>
                    <tr>
                        <th>Название организации</th>
                        <th>Главенствующая организация</th>
                        <th>Идентификатор</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tableOrganizations)
                    {

                    <tr>
                        <td>@item.NameOfOrganization</td>
                        <td>
                            @foreach (var itemSub in Model.tableOrganizations)
                            {
                                @if (item.SubordinationId == itemSub.TableOrganizationsId)
                                {
                                    @itemSub.NameOfOrganization
                                    break;
                                }
                            }
                        </td>
                        <td>@item.users.Identifier</td>
                        <td>
                            <div>
                                <a class="buttonTable" asp-action="Edit" asp-controller="Home" asp-route-id="@item.TableOrganizationsId" style="text-decoration: none;">Изменить</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a class="buttonTable" asp-controller="Home" asp-action="ChangePassword" asp-route-id="@item.users.Id" style="text-decoration: none;">Сменить пароль</a>
                            </div>
                        </td>
                        <td>

                            <div>
                                <a class="buttonTableRed" asp-action="Delete" asp-controller="Home" asp-route-id="@item.TableOrganizationsId" style="text-decoration: none;">Удалить запись</a>
                            </div>
                        </td>

                    </tr>
        }
                    </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            @foreach (var item in Model.tableOrganizations)
            {
                if (item.users.UserName == User.Identity.Name)
                {
                    <p style="font-size: 44pt;">  @item.NameOfOrganization</p>
                    <p style="font-size: 14pt;"> Работники в организации</p>
                    <table class="blueTable">
                        <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Должность</th>
                                <th>Резерв</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemInfo in Model.historyOfAppointments)
                            {

                            <tr>
                                <td>
                                    @itemInfo.EmployeeRegistrationLog.Worker.Surname
                                    @itemInfo.EmployeeRegistrationLog.Worker.Name
                                    @itemInfo.EmployeeRegistrationLog.Worker.DoubleName
                                </td>
                                <td>
                                    @itemInfo.Position.Position.JobTitle
                                </td>
                                <td>
                                    <a style="background: #FFFFFF; color:#000000;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Резерв
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #FFFFFF; color:#000000;">
                                        @foreach (var itemreserve in Model.reserveOfPersonnels)
                                        {
                                            if (itemInfo.TablePositionId == itemreserve.TablePositionId)
                                            {
                                        <a class="dropdown-item" style="color:#000000;">
                                            @itemreserve.employeeRegistrationLog.Worker.Surname
                                            @itemreserve.employeeRegistrationLog.Worker.Name
                                            @itemreserve.employeeRegistrationLog.Worker.DoubleName
                                        </a>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }
    </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Вход</a>
    }
</body>
