@model IEnumerable<AdvancedTraining>
@{
    ViewData["Title"] = "Повышение квалификации";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleTable.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
</head>
<div id="demotext">
    <p style="font-size: 44pt;">Квалификация</p>
    <div class="ccd">
                <a class="ddott" asp-action="Create">Добавить</a>
    </div>
</div>
  
    <body class="bodyWww">
        <table class="blueTable">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Учреждения образования</th>
                    <th>Начала квалификации</th>
                    <th>Завершение квалификации</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AdvancedTraining item in Model)
                {
                    <tr>
                        <td>@item.EmployeeRegistrationLog.Worker.Surname @item.EmployeeRegistrationLog.Worker.Name @item.EmployeeRegistrationLog.Worker.DoubleName</td>
                        <td>@item.EducationalInstitutions.NameEducationalInstitutions</td>
                        <td>@item.Start.ToString().Remove(10)</td>
                        @if (item.End != null)
                        {
                            <td>@item.End.ToString().Remove(10)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @*<td> <a asp-action="Edit" asp-controller="AdvancedTraining" asp-route-id="@item.AdvancedTrainingId">Изменить</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </body>

