@model WebApplicationDiplom.ViewModels.HistoryOfAppointmentsViewModel 

@{
    ViewBag.Title = "Назначение на должность";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/RegisterStyleEducationalWorkers.css" />
</head>
<body>
    <form method="post" asp-controller="HistoryOfAppointments" asp-action="Create" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Назначения на должность</h2>
        <div class="box">
            <label class="form_label">Информация о работники</label><br />
            <select asp-for="EmployeeRegistrationLogId">
                @foreach (var item in Model.employeeRegistrationLogs)
                {
                    <option value="@item.EmployeeRegistrationId">@item.Worker.Surname @item.Worker.Name @item.Worker.DoubleName, </option>
                }
            </select>
        </div>
        <div class="box">
            <label class="form_label">Должность</label><br />
            <select asp-for="TablePositionId">
                @foreach(var item in Model.positions)
                {
                    <option value="@item.TablePositionId">@item.Position.JobTitle</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" value="Регистрация" class="form_button" />
            <a class="form_button" asp-controller="HistoryOfAppointments" asp-action="Index" style=" text-decoration: none;">Назад</a>
        </div>
    </form>
</body>