@model IEnumerable<TableHistoryOfAppointments>
@{
    ViewData["Title"] = "Назначения на должность";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/ButtonTable.css" />
</head>
 
<div id="demotext">
    <p style="font-size: 44pt;">Работники назначенные на должность</p>
    @foreach (TableHistoryOfAppointments item in Model)
    {
        <p  style="font-size: 44pt;">@item.EmployeeRegistrationLog.Organizations.NameOfOrganization</p>
        break;
    }
        <div class="ccd">
            <a class="ddott" asp-action="Create">Добавить</a>
        </div>
</div>
<p>Работники зачисленные на должность в организации</p>
    <table class="blueTable">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Дата назначения</th>
                <th>Должность</th>
                <th>Причина увольнения</th>
                <th>Дата увольнения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TableHistoryOfAppointments item in Model)
            {
                <tr>
                    <td>
                        @item.EmployeeRegistrationLog.Worker.Surname
                        @item.EmployeeRegistrationLog.Worker.Name
                        @item.EmployeeRegistrationLog.Worker.DoubleName
                    </td>
                    <td>@item.DateOfAppointment.ToString().Remove(10)</td>
                    <td>@item.Position.Position.JobTitle</td>
                    @if (item.TheReasonForTheDismissal != null)
                    {
                        <td>@item.TheReasonForTheDismissal.Replace("_", " ")</td>
                    }
                    else
                    {
                        <td>@item.TheReasonForTheDismissal</td>
                    }
                    @if (item.DateOfDismissal != null)
                    {
                        <td> @item.DateOfDismissal.ToString().Remove(10)  </td>
                    }
                    else
                    {
                        <td>  @item.DateOfDismissal</td>
                    }
                    <td>
                        <a class="buttonTableRed" asp-action="Layoffs" asp-controller="HistoryOfAppointments" asp-route-id="@item.HistoryOfAppointmentsId" style="text-decoration: none;">Уволить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

